@font-face {
    font-family: Golos-Text-Small;
    src: url("/Golos Text/Golos Text-normal-500-100.ttf") format("truetype");
}

@font-face {
    font-family: Golos-Text-Medium;
    src: url("/Golos Text/Golos Text-normal-600-100.ttf") format("truetype")
}

@font-face {
    font-family: Golos-Text-Large;
    src: url("/Golos Text/Golos Text-normal-700-100.ttf") format("truetype");
}

:root {
    --vividly-dark: #494949;
    --vividly-gray: #bcbcbc;
    --vividly-light: #ffffff;
    --vividly-pale: #eeeeee;
    --vividly-purple: #6658ea;
    --vividly-purple-dark: #2b3595;
    --vividly-semi-white: #f9f9f9;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Golos-Text-Medium;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vividly-pale);
    padding: 0.5rem 1rem;
}

.nav-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    padding: 0 0.5rem;
    color: var(--vividly-dark);
}

.nav-buttons button {
    outline: none;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--vividly-purple);
    padding: 0.5rem;
    color: var(--vividly-light);
    cursor: pointer;
    font-size: 0.7rem;
}

.nav-buttons button:hover {
    opacity: 0.8;
}

.nav-buttons i {
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    border: 0.2rem solid var(--vividly-dark);
    background-image: url(images/my_face.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.2rem;
    cursor: pointer;
}

svg {
    width: 20vw;
    height: 12vh;
}

svg path {
    fill: black;
}

main {
    background-color: var(--vividly-light);
    font-family: Golos-Text-Small;
    display: flex;
    gap: 0;
}

aside {
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 1;
}

.side-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--vividly-pale);
    width: 7vw;
    height: 100%;
}

.side-icons div {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.side-icons div:hover {
    color: var(--vividly-purple);
}

.side-icons div:first-child {
    background-color: var(--vividly-light);
}

.open-menu {
    width: 20vw;
    height: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--vividly-light);
    gap: 4rem;
    border-right: 0.1rem solid var(--vividly-gray);
    transition: 0.4s ease-in-out all;
}

.menu-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.09rem solid var(--vividly-gray);
    padding: 0 0.5rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

#content {
    overflow: auto;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--vividly-semi-white);
    flex-grow: 999;
}

#content img {
    cursor: crosshair;
    position: absolute;
    top: 20%;
    left: 50%;
    translate: -50% -20%;
}

.left-button,
.right-button {
    outline: none;
    border: 0.1rem solid var(--vividly-gray);
    padding: 1.2rem 0.5rem;
    font-size: 1rem;
    background-color: var(--vividly-light);
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.left-button:hover,
.right-button:hover {
    background-color: var(--vividly-pale);
}

.left-button {
    transition: 0.4s ease-in-out all;
    left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
}

.right-button {
    position: fixed;
    right: 0;
    border-radius: 0.5rem 0 0 0.5rem;
}

.zoom-icons {
    position: fixed;
    right: 5%;
    bottom: 5%;
    background-color: var(--vividly-light);
    display: flex;
    align-items: center;
    /* padding: 0 1rem; */
    border-radius: 1.8rem;
    border: 0.1rem solid var(--vividly-gray);
    cursor: pointer;
}

.zoom-icons span {
    font-weight: bold;
    padding: 0.5rem;
}


.zoom-icons span:nth-child(1) {
    border-radius: 1.8rem 0 0 1.8rem;
}

.zoom-icons span:nth-child(1),
.zoom-icons span:nth-child(2) {
    border-right: 0.1rem solid var(--vividly-gray);
}

.zoom-icons span:last-child {
    background-color: var(--vividly-pale);
    border-radius: 0 1.8rem 1.8rem 0;
}

.zoom-icons span:hover {
    background-color: var(--vividly-gray);
}

dialog {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 30%;
    translate: -30% -50%;
    background-color: var(--vividly-purple-dark);
    color: var(--vividly-light);
    border-radius: 1.5rem;
    font-family: Golos-Text-Large;
    width: 30vw;
}

dialog button {
    outline: none;
    border: none;
    background-color: var(--vividly-light);
    color: var(--vividly-purple);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

#user img {
    border-radius: 50%;
    background-color: var(--vividly-light);
    width: 25%;
    animation: appear 1s linear 0s infinite alternate;
}

#callAi{
    position: fixed;
    bottom: 5%;
    left: 30%;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: var(--vividly-purple);
    color: var(--vividly-light);
    font-size: 2rem;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 0 2rem 0.1rem var(--vividly-purple-dark);
    transition: 0.2s ease all;
}
#agi img {
    border-radius: 50%;
    background-color: var(--vividly-light);
    width: 20%;
    /* animation: appear 1s linear 0s infinite alternate; */
}
#callAi:hover{
    scale: 1.2;
}

#agi form{
    display: flex;
    flex-direction: column;
}
#agi textarea{
    font-family: serif;
    font-size: 1.3rem;
    resize: none;
    padding: 1rem;
    margin: 1rem 0;
}

@keyframes appear {
    from{
        scale: 1;
    } 
    to {
        scale: 1.1;
    }
}

.rotate{
    animation: rotate 1s linear 0s infinite;
}

@keyframes rotate {
    from{
        rotate: 0deg;
    } 
    to {
        rotate: 360deg;
    }
}

@media (max-width: 768px){
    .open-menu{
        display: none;
        width: 70vw;
    }
    .side-icons{
        width: 10vw;
    }
}